.iphone14-1
{
position:absolute;
background-color:#ffffff;
height:844px;
width:390px;
padding:0px;
}
.connectframe
{
background-color:#e6fbf8;
height:60px;
width:390px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:absolute;
top:180px;
left:0px;
}
.walletconnected:0x00000000000000000000
{
color:#3742fa;
text-align:center;
vertical-align:text-top;
font-size:10px;
font-family:Lato;
align-self:flex-start;
top:35px;
left:0px;
position:absolute;
line-height:100px;
border-style:hidden;
outline:none;
width:390px;
}
.button
{
background-color:#3742fa;
height:16px;
width:105px;
filter:drop-shadow(0px 2px 4px rgba(0.5333333611488342,0.5647059082984924,0.7607843279838562,0.20000000298023224));
align-self:flex-start;
left:142px;
top:15px;
position:absolute;
border-radius:4px;
padding-left:32px;
padding-right:32px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
}
.connectwallet
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Lato;
align-self:flex-start;
left:20px;
top:3px;
position:absolute;
width:65px;
height:10px;
line-height:100px;
border-style:hidden;
outline:none;
}
.introframe
{
background-color:#fee6ff;
height:120px;
width:390px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:absolute;
top:60px;
left:0px;
}
.slidinginformation
{
background-color:#d9d9d9;
height:50px;
width:270px;
top:51px;
left:60px;
position:absolute;
}
.metameowgames
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
align-self:flex-start;
top:14px;
left:0px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:390px;
}
.gamesframe
{
background-color:#f2ffe3;
height:120px;
width:390px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:absolute;
top:240px;
left:0px;
}
.games3
{
color:#3742fa;
text-align:center;
vertical-align:text-middle;
font-size:10px;
font-family:Lato;
line-height:100px;
border-style:hidden;
outline:none;
width:390px;
align-self:flex-start;
}
.topframe
{
background-color:#ffffff;
height:60px;
width:390px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:absolute;
top:0px;
left:0px;
}
.catpicturescc0
{
background-color:#f88e8e;
height:43px;
width:390px;
top:29px;
left:0px;
position:absolute;
}
.menubar
{
background-color:#8af4ee;
height:29px;
width:390px;
}
