canvas{
     max-width:100%;
     max-height:100%; 
     background-color: black;
}
html {
     height: 100%;
     
}
p {
     margin-bottom: 8px !important;
}
.dimstuff {
     backdrop-filter: brightness(0.5);
}
#textstuff {
     backdrop-filter: brightness(0.5);
     width: 100%;
     margin: auto;
     padding: 5px;
     /* border: green solid 3px; */
          min-height: 76px;
}
div#orthoverseHomeLand {
     backdrop-filter: brightness(0.5);

}
div#orthoverseEnemyLand {
     backdrop-filter: brightness(0.5);

}

.modal-body {
     color:black;
}
.leftcontent.modal-body  {
     text-align: left !important;
}

#debuglog {
     display: inherit;
     text-align: center;
     visibility: hidden;
}

/* #divCreateGameOptions {
     border: purple solid 3px;
}
#shareCode {
     border: violet solid 3px;
}
#divFirstOptions {
     border: violet solid 3px;
}
#divJoinBox {
     border: violet solid 3px;
}
#debuglog {
     border: blue solid 3px;
}
#divGameInfo {
     border: yellow solid 3px;
} */
.hiddenMessage {
     display:none;
}
.waitingMessage {
     min-height:60px;
     text-align:-webkit-center;
}
.centerInputFieldHorizontally {
     display:grid; 
     justify-content:center;
     margin:auto;
     display:block;
}
.modal-title{
     color:black;
}
/* .centerButtonHorizontally {
     margin:0;position:absolute;left: 50%;-ms-transform: translate(-50%, 0%);transform: translate(-50%, 0%);
} */
#photocredit2 {
     backdrop-filter: brightness(0.5);
     width: 100%;
     margin: auto;
     padding: 5px;
     position: absolute;
     bottom: 0px;
 }

@media (min-width: 576px)  {
     #textstuff {
     backdrop-filter: brightness(0.5);
     width: 40%;
     margin: auto;
     }
}
     
body{
     height: 100%;
     text-align:center;
     color:#e8e8e8;
     background:#131313; 
     /* background-image: url("pexels-caio-62645.jpg"); */
     /* height: 6016px; You must set a specified height
     width: 4000px; */
     background-position: center; /* Center the image */
     background-repeat: no-repeat; /* Do not repeat the image */
     background-size: cover;
     width: 100%;
     height: 100%;

      /* Resize the background image to cover the entire container */

}
pre{text-align:left}
a{color:#e8e8e8}
a:hover{color:red}

@keyframes flicker{
  0% {opacity:0}
  59%{opacity:0}
  60%{opacity:1}
  79%{opacity:1}
  80%{opacity:0}
  99%{opacity:0}
 100%{opacity:1}
}
h1 span{animation: flicker 0.5s linear both;}
@keyframes fade2{
  0% {opacity:0}
 100%{opacity:1}
}
#divHomeActionButtons p{animation: fade2 2s linear 2s both;}


/* Animation for Copy button */
.elementToFadeInAndOut {
     animation: fadeInOut2 0.2s linear forwards;
 }
 @keyframes fadeInOut2 {
     0% { opacity:1; }
     50% { opacity:0; } 
     100% { opacity:1; } 
    }


.flyingreactions {
	pointer-events: none;
}

.flyingreactionshost > * {
/* Adjust animation duration to change the element’s speed */
        animation: flythisreactionhost 2s linear;
         /* infinite; */
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(50vw) translateX(-160px) translateY(500px) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
     opacity:0;
}

.flyingreactionsguest > * {
     /* Adjust animation duration to change the element’s speed */
             animation: flythisreactionguest 2s linear;
              /* infinite; */
             pointer-events: none !important;
          top: 0;
          left: 0;
          transform:  translateX(50vw) translateX(-160px)  translateY(500px) rotateZ(0);
          position: fixed;
          animation-delay: 1s;
          z-index: 999999;
          opacity:0;
     }
     
 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */

    @keyframes flythisreactionhost {

	0% {display: block; transform: translateX(50vw) translateX(-160px) translateY(500px) rotate(0deg); opacity:0} 
          /* rotateZ(0deg) */
     10% {display: block; transform: translateX(50vw) translateX(-160px)  translateY(470px) rotate(25deg)  } 
     20% {display: block; transform: translateX(50vw) translateX(-160px)  translateY(440px) rotate(0deg) ; } 
     30% {display: block; transform: translateX(50vw) translateX(-160px)  translateY(410px) rotate(-25deg);opacity:0.5  } 
     40% {display: block; transform: translateX(50vw) translateX(-160px) translateY(380px) rotate(0deg);  } 
     50% {display: block; transform: translateX(50vw) translateX(-160px)  translateY(350px) rotate(25deg) } 
     60% {display: block; transform: translateX(50vw) translateX(-160px)  translateY(320px) rotate(0deg) } 
     70% {display: block; transform: translateX(50vw) translateX(-160px)  translateY(290px) rotate(-25deg); } 
     80% {display: block; transform: translateX(50vw) translateX(-160px)  translateY(260px) rotate(0deg) ; opacity:0.6} 
     90% {display: block; transform: translateX(50vw) translateX(-160px)  translateY(230px) rotate(25deg) } 
     100% {display: block; transform: translateX(50vw) translateX(-160px) translateY(200px) rotate(0deg) ; opacity:0} 
         

     /* 100% {
		transform: translateX(50vw) translateX(+96px) translateY(0vh) rotate(360deg)
           rotateZ(0deg)
	}

	100% {
		transform: translateX(50vw) translateX(+96px) translateY(0vh) rotate(360deg)
           rotateZ(0deg)
	} */

}    
@keyframes flythisreactionguest {

	0% {display: block; transform: translateX(50vw) translateX(+96px) translateY(500px) rotate(0deg); opacity:0} 
          /* rotateZ(0deg) */
     10% {display: block; transform: translateX(50vw) translateX(+96px)  translateY(470px) rotate(25deg)  } 
     20% {display: block; transform: translateX(50vw) translateX(+96px)  translateY(440px) rotate(0deg) ; } 
     30% {display: block; transform: translateX(50vw) translateX(+96px)  translateY(410px) rotate(-25deg);opacity:0.5  } 
     40% {display: block; transform: translateX(50vw) translateX(+96px) translateY(380px) rotate(0deg);  } 
     50% {display: block; transform: translateX(50vw) translateX(+96px)  translateY(350px) rotate(25deg) } 
     60% {display: block; transform: translateX(50vw) translateX(+96px)  translateY(320px) rotate(0deg) } 
     70% {display: block; transform: translateX(50vw) translateX(+96px)  translateY(290px) rotate(-25deg); } 
     80% {display: block; transform: translateX(50vw) translateX(+96px)  translateY(260px) rotate(0deg) ; opacity:0.6} 
     90% {display: block; transform: translateX(50vw) translateX(+96px)  translateY(230px) rotate(25deg) } 
     100% {display: block; transform: translateX(50vw) translateX(+96px) translateY(200px) rotate(0deg) ; opacity:0} 
         

     /* 100% {
		transform: translateX(50vw) translateX(+96px) translateY(0vh) rotate(360deg)
           rotateZ(0deg)
	}

	100% {
		transform: translateX(50vw) translateX(+96px) translateY(0vh) rotate(360deg)
           rotateZ(0deg)
	} */

}    